{
  "parser": "@babel/eslint-parser",
  "plugins": [
    "@babel"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "no-confusing-arrow": "off"
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
